<div id="container">
    <div class="form_area">
        <div class="innerForm">        
            <form action="">
                <div class="logo text-center">
                    <img src="../../assets/images/logo.svg" alt="" width="100">
                    <h2>Reset Password</h2>
                </div>

              <div class="example-container">
                <div class="form-group">
                    <i class="material-icons">lock</i>
                <mat-form-field>                    
                  <input matInput placeholder="Old Password">
                </mat-form-field>
              </div>
              <div class="form-group">
                  <i class="material-icons">lock</i>
                <mat-form-field>                    
                  <input matInput placeholder="Old Password">
                </mat-form-field>
              </div>
              <div class="form-group">
                  <i class="material-icons">lock</i>
                <mat-form-field>                    
                  <input matInput placeholder="Old Password">
                </mat-form-field>
              </div>
              <div class="form-group mt30 text-center">
                  <button type="button" mat-button color="primary" class="mat-stroked-button mat-primary" routerLink="/login">Submit</button>
              </div>
              </div>
            </form>
        </div>
    </div>
  </div>