@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-size: 14px;
    line-height: 1.5;
    color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h4, h6 {
    font-weight: 500;
}

img{
    max-width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.ml10 {
    margin-left: 10px;
}

.form-group {
    position: relative;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

span.error {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: #ffffff;
    padding: 1px 5px;
    color: #2e2e2e;
    font-size: 12px;
    display: none;
}

.button_wrapper {
    margin-bottom: 5px;
}

.mat-stroked-button {
    padding: 8px 35px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    overflow: hidden !important;
}

.mat-stroked-button::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -15px 0 0 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0a86ac;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(1, 2, 1);
    transform: scale3d(1, 2, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}

.mat-stroked-button.mat-primary:hover {
    color: #fff;
}

.mat-stroked-button:hover::after {
    -webkit-transform: scale3d(9, 9, 1);
    transform: scale3d(9, 9, 1);
    -moz-transform: scale3d(9, 9, 1);
    -ms-transform: scale3d(9, 9, 1);
    -o-transform: scale3d(9, 9, 1);
}

.mat-stroked-button:hover {
    color: #ffffff;
}

.mat-stroked-button.back_btn::after {
    background: #2e2e2e;
}

.form-group .material-icons {
    color: #7d7b7b;
    display: inline-block;
    vertical-align: middle;
}

form .mat-form-field {
    width: 94%;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #0a86ac;
    border-color: #0a86ac;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #0a86ac;
}

.mat-form-field.mat-focused .mat-form-field-label{
    color: #0a86ac;
}

/* check box */
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #0a86ac;
}

i.material-icons{
    color: #2e2e2e;
}

table {
    width: 100%;
  }

/* breadcrumb css */
ol{
    list-style: none;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.0625);
    margin-bottom: 20px;
}

li.breadcrumb-item a {
    font-size: 14px;
    color: #0a86ac;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb-item a.active {
    color: #72777a;
    font-weight: 400;
}

/* breadcrumb css close */